body, html {
	
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.slider-element {
    height: 100vh; /* Ensure it takes the full viewport height */
}
.logo-dark{
	padding: 0px
}
.logo-default{
	padding: 8px
}
.custom-image-max {
      width: 40%; /* Ancho deseado */
      height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    }
.pdf-center {
      display: flex;
		flex-wrap: nowrap;
      justify-content: center; /* Centra horizontalmente */
       /* Centra verticalmente */
       /* Altura completa de la ventana para centrar verticalmente */
    }
.cambiar-color:hover {
      color: red; /* Cambia a rojo al pasar el ratón por encima */
    }
.slider-inner, 
.forcefullwidth_wrapper_tp_banner,
.rev_slider_wrapper,
.rev_slider,
.tp-revslider-mainul,
.tp-revslider-slidesli,
.slotholder,
.tp-bgimg,
.tp-kbimg-wrap,
.tp-kbimg {
    height: 100%;
    width: 100%;
}

.tp-bgimg {
    background-size: cover;
    background-position: center;
}

.tp-kbimg {
    object-fit: cover;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .page-title-content h1, .page-title-content .h1, .page-title-content span, .portfolio-desc h3 a:hover{
	color: #f59700;
}
h2{
	color: #f59700;
}
h3{
	color: #f59700;
}
h5, .h5{
	color: #0F0F0F;
}
.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.7); /* Gris transparente */
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
}
@font-face {
    font-family: 'optimusprincepsregular';
    src: url('optimusprinceps-webfont.woff2') format('woff2'),
         url('optimusprinceps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quaaykopregular';
    src: url('quaaykop-webfont.woff2') format('woff2'),
         url('quaaykop-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'revansmedium';
    src: url('revans-medium-webfont.woff2') format('woff2'),
         url('revans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.header-max {
			font-family: 'revansmedium';
		}
.h1-max{
	font-family: 'optimusprincepsregular';
}
/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

